/* General Styling */
.root {
    -fx-background-color: #2b2b2b; /* Base background color (not specified, assuming dark theme) */
}

.label {
    -fx-text-fill: white; /* Text color for labels */
    -fx-font-family: 'Corbel';
	-fx-font-weight: Bold;
    -fx-font-size: 14px;
}

.text-field {
    -fx-background-color: black; /* Background color for text fields */
    -fx-border-color: #70cd98;  /* Border color for text fields */
    -fx-border-width: 2px;
    -fx-text-fill: white; /* Text color inside text fields */
	-fx-prompt-text-fill: #f2fff7;
}

.button {
    -fx-background-color: black; /* Button background color */
    -fx-border-color: #70cd98;  /* Button border color */
    -fx-border-width: 3px;
    -fx-text-fill: white; /* Button text color */
    -fx-font-family: 'Corbel';
	-fx-font-weight: Bold;
    -fx-font-size: 14px;
}

.choice-box {
    -fx-background-color: black;
    -fx-border-color: #70cd98;
    -fx-border-radius: 5;
}

.text-area {
    -fx-background-color: black;
    -fx-border-color: #70cd98;
    -fx-border-width: 3;
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
}



